name: CD (Promotion Based)

on:
  workflow_run:
    workflows: ["CI"]  # Wait for CI workflow to complete
    types:
      - completed
    branches:
      - main
  push:
    tags:
      - 'v*'

jobs:
  deploy-staging:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment:
      name: staging

    steps:
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh

          cat <<'EOF' > ~/.ssh/id_ed25519
          ${{ secrets.EC2_SSH_KEY_STAGING }}
          EOF

          chmod 600 ~/.ssh/id_ed25519

          ssh-keyscan -H ${{ secrets.EC2_HOST_STAGING }} >> ~/.ssh/known_hosts

      - name: Deploy to STAGING
        run: |
          ssh ${{ secrets.EC2_USER_STAGING }}@${{ secrets.EC2_HOST_STAGING }} << EOF
            set -e

            IMAGE_TAG=${{ github.sha }}
            STATE_DIR=/opt/deploy-state
            mkdir -p \$STATE_DIR

            if [ -f "\$STATE_DIR/current_image_tag" ]; then
              cp \$STATE_DIR/current_image_tag \$STATE_DIR/previous_image_tag
            fi

            echo "\$IMAGE_TAG" > \$STATE_DIR/current_image_tag
            export IMAGE_TAG=\$IMAGE_TAG
            export ENV=dev

            cd /opt/api-gateway

            docker compose -f docker-compose.prod.yml pull
            docker compose -f docker-compose.prod.yml up -d

            docker image prune -f
          EOF

  deploy-production:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    environment:
      name: production
    needs: deploy-staging

    steps:
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY_PROD }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.EC2_HOST_PROD }} >> ~/.ssh/known_hosts

      - name: Deploy to PRODUCTION
        run: |
          ssh ${{ secrets.EC2_USER_PROD }}@${{ secrets.EC2_HOST_PROD }} << EOF
            set -e

            IMAGE_TAG=${GITHUB_REF#refs/tags/}
            STATE_DIR=/opt/deploy-state
            mkdir -p \$STATE_DIR

            if [ -f "\$STATE_DIR/current_image_tag" ]; then
              cp \$STATE_DIR/current_image_tag \$STATE_DIR/previous_image_tag
            fi

            echo "\$IMAGE_TAG" > \$STATE_DIR/current_image_tag
            export IMAGE_TAG=\$IMAGE_TAG
            export ENV=prod
            cd /opt/api-gateway

            docker compose -f docker-compose.prod.yml pull
            docker compose -f docker-compose.prod.yml up -d

            docker image prune -f
          EOF