name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  deploy:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'main'
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << EOF
            export IMAGE_TAG=${{ github.event.workflow_run.head_sha }}

            cd /opt/api-gateway

            echo "Deploying image tag: \$IMAGE_TAG"

            echo "Pulling latest images"
            docker compose -f docker-compose.prod.yml pull

            echo "Applying deployment"
            docker compose -f docker-compose.prod.yml up -d

            echo "Cleaning old images"
            docker image prune -f
          EOF